@import "variables";

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	transition: all 200ms ease;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: $c-blue;
	cursor: pointer;
	transition: background 200ms ease;
}

::-webkit-scrollbar-thumb:hover {
	background: lighten($c-blue, 5%);
}

::-webkit-scrollbar-thumb:active {
	background: darken($c-blue, 10%);
}

::-webkit-scrollbar-track {
	background: $c-gray;
}

::-webkit-scrollbar-corner {
	background: transparent;
}